Source: ros-jade-python-watchdog
Section: misc
Priority: extra
Maintainer: tkostas <tkostas75@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-catkin-pip
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-python-watchdog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-argh, python-yaml, ros-jade-pathtools
Description: Filesystem events monitoring
